includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Parameter \#1 \$callable of static method Closure\:\:fromCallable\(\) expects callable\(\)\: mixed, array\(Contributte\\Bootstrap\\Plugin\\IPlugin, .+\) given\.$#'
